
.Team {
	@include texture(noise-dark);

	h2 {
		color: $brand-base-light-inverse;
		padding-top: 12rem;
		padding-bottom: 5rem;
		@media #{$small-only} {
			font-size: 2rem;
			padding-top: 4rem;
			padding-bottom: 2rem;
		}
	}

	section {
		border-bottom: solid 1px $brand-base-light;
		@include padding-y(5rem);
//		@media #{$large-up} {
//			@include padding-y(7rem);
//		}
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			border: 0;
		}
	}
	aside {
		text-align: center;
		img {
			max-width: 98%;
			max-height: 98%;
			@include border-radius(999999px);
			@include box-shadow(0px 0px 0px 10px $brand-base-light);
		}
	}
	header {
		text-transform: uppercase;
		font-size: 1.6rem;
		color: $brand-base-light-inverse;
		line-height: 1.5;
		strong {
			display: block;
			color: lighten($brand-primary,10%);
			font-size: 1.8rem;
			font-weight: 800;
			margin-top: 1.5em;
		}
	}
	p {
		color: $brand-base-lighter;
		line-height: 1.5;
	}
}