@import 'config',
		'components/normalize',
		'components/foundation',
		'components/typography',
		'components/ambient-slider';

.f-topbar-fixed #header-bar {
	overflow: hidden;
	height: $topbar-height;
}
#header-bar {
	background: rgba($brand-primary-inverse,0.9);
}
body.f-topbar-fixed {
	padding-top: 0;
}

.button {
	text-transform: uppercase;
	@include box-shadow(0 0 5px rgba($brand-base,.5));
	&.large {
		@include padding-x(4.5rem);
	}
}

#footer-bar {
	background: $brand-base;
	p {
		text-align: center;
		line-height: 6rem;
		margin: 0;
	}
}

h1, h2, h3 {
	text-transform: uppercase;
	strong {
		display: block;
	}
}
.layer {
	//min-height: $layer-height;
	min-height: 100vh;

	@media #{$small-only} {
		//min-height: 0 !important;
		min-height: 480px;
		padding: 50px 0;
	}
}


@import 'homepage';
@import 'team';